<div>

</div>

<!-- <div class="z-20 w-full">
    <img src="image1.jpg" alt="">
</div> -->
<!-- mi codigo -->
<!-- <div class="container-video absolute top-0 left-0">
  <iframe
    title="vimeo-player"
    src="https://player.vimeo.com/video/774815181?h=d1d2a82d6a"
    max-width="640"
    max-height="272"
    frameborder="0"
    allowfullscreen
  >
  </iframe>
</div> -->

<!-- codigo de chatGPT -->
<!-- <div id="video-container" class="container w-4/5">
  <div
    class="container-video fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 bg-gray-900 bg-opacity-75 flex justify-center items-center"
  >
    <iframe
      title="vimeo-player"
      src="https://player.vimeo.com/video/774815181?h=d1d2a82d6a"
      width="90%"
      height="90%"
      allowfullscreen
    >
    </iframe>
  </div>
</div> -->



<!-- <button
  id="toggle-btn"
  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
  >Mostrar video</button
> -->